header {
background-color:blue;
color:antiquewhite;
text-aling: center;
max-width: 800px;
margin: 0 auto;
}

main { 
backgroun-color:rgba(213, 213, 216, 0.89);
color:rgb(9, 13, 228);
max-width: 800px;
margin: 0 auto;
}
